.cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 47.25px;
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(auto-fill , minmax(282px, 1fr));
}
@media screen  and (max-width: 615px) {
  .cards {
    margin-top: 36.25px;
  }
}