.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility linear 0.2s, opacity linear 0.2s;
}
.popup_error {
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  width: 100%;
  max-width: 164px;
  display: none;
  margin-bottom: 13px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .popup__error {
    max-width: 270px;
  }
}

@media screen and (min-width: 900px) {
  .popup__error {
    max-width: 358px;
  }
}
.popup__error_visible {
  display: block;
}

.popup__submit {
  min-width: 238px;
  height: 46px;
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 15px auto 37px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .popup__submit {
      min-width: 270px;
      height: 50px;
      font-size: 16px;
      line-height: 20px;
  }
}

@media screen and (min-width: 900px) {
  .popup__submit {
      min-width: 358px;
      font-size: 18px;
      line-height: 22px;
  }
}

.popup__submit_disabled {
  background: white;
  border: 1px solid #E5E5E5;
  color: #C4C4C4;
}

.popup__input_type_error {
  border-bottom: 1px solid #FF0000;
}