.form__error {
  color: #ff0000;
  font-size: 12px;
  line-height: 1.21;
  opacity: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form__error {
    max-width: 270px;
  }
}

@media screen and (min-width: 930px) {
  .form__error {
    max-width: 358px;
  }
}