.popup__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  border:none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 13px;
  box-sizing: border-box;
  outline:none;
  margin-left: auto;
  margin-right: auto;
  width: 358px;
}
@media screen  and (max-width: 615px) {
  .popup__info {
    width: 238px;
  }
}