.profile {
  margin-top: 36.25px;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  column-gap: 30px;
  align-items: center;
}
@media screen  and (max-width: 615px) {
  .profile {
    margin-top: 38.25px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}