.header {
  margin-top: 45px;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #545454;
}
@media screen  and (max-width: 615px) {
  .header {
    margin-left: -19px;
    margin-right: -19px;
    margin-top: 28px;
    padding-bottom: 31.6px;
  }
}