.popup__close-icon {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  position: relative;
  top:-42px;
  left: 428px;
  background-image: url(../../../images/Close-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  background-color: transparent;
  border: none;
  background-size: cover;
}
.popup__close-icon:hover {
  opacity: 80%;
}
@media screen  and (max-width: 615px) {
  .popup__close-icon {
    width: 36px;
    height: 36px;
    top: -49.62px;
    left: 252px;
  }
}