.popup__close-icon {
  width: 40px;
  height: 40px;
  position: relative;
  top:-42px;
  left: 428px;
  background-image: url(../../../images/Close-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  background-color: transparent;
  border: none;
}
.popup__close-icon:hover {
  opacity: 80%;
}
@media screen  and (max-width: 615px) {
  .popup__close-icon {
    top: -53.62px;
    left: 242px;
  }
}