.popup__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 54px;
  margin-left: auto;
  margin-right: auto;
  width: 358px;
}

@media screen  and (max-width: 615px) {
  .popup__title {
  width: 238px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 75px;
  }
}